body {
    background: url("https://upload.wikimedia.org/wikipedia/commons/c/c4/Kenny_King_vs._Zema_Ion_-_Dark_Match.jpg") no-repeat center center fixed;
    background-size: cover;
}

.error {
    display: none;
    background-color: red;
    color: white;
    padding: 10px 0;
}

.title {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 100px;
    color: white;
}

.gravatar {
    height: 120px;
    width: 120px;
}

.container {
    text-align: center;
}

.battleArea {
    background-color: rgba(152, 31, 31, 0.79);
}

.thumbnail {
    background-color: transparent;
    border-color: transparent;
    color: white;
}

.thumbnail img {
    border-radius: 100px;
    border-color: red;
}

.thumbnail h3,
h1, {
    text-align: center;
    color: white;
}

.inputs {
    margin: 50px 5px;
}

.btn {
    display: inline;
}

.text, .btn {
    margin: 0px 10px;
}

.win {
    color: green;
    display: none;
}

.badges {
  height: 200px;
  width: 100%;
  overflow: scroll;
}

.badges img {
  height: 50px;
  width: 50px;
}

::-webkit-scrollbar {
display: none;
}